.addEvent {
  position: absolute;
  top: 0;
  left: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: center;
}

.addEventOpen {
  opacity: 1;
  transition: opacity 0.4s ease-in-out display 0.3s ease-in-out;
}

.addEventHidden {
  opacity: 0;
  transition: opacity 0.4s ease-in-out display 0.3s ease-in-out;
}

.addeventPanel {
  width: 60%;
  height: 90%;
  background-color: var(--special-5);
  position: relative;
  z-index: 2000;
  overflow: hidden;
  border-radius: 20px;
}

.bgClose {
  position: absolute;
  top: 0;
  left: 0;
  left: 0;
  right: 0;

  width: 100%;
  height: 100%;

  backdrop-filter: blur(10px);
  background-color: rgba(55, 55, 55, 0.5);
}
$buttonsHeight: 60px;

.panelContent {
  width: 100%;
  height: calc(100% - #{$buttonsHeight});
  overflow-y: auto;
  padding: 50px;
}
.buttons {
  width: 100%;
  height: #{$buttonsHeight};
  border-top: 1px solid var(--dynamic-black-200);

  display: flex;
  flex-direction: row-reverse;
  align-items: center;

  padding: 0px 20px;
  justify-content: space-between;
}

.subButtons1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.subButtons2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.eventId {
  font-size: 12px;
  font-weight: 400;
}
//inputs
.blok {
  padding: 10px;
  border-radius: 10px;
  transition: background-color 0.2s ease-in-out;
  background: transparent;
}

.blok:focus-within {
  outline: none;
  background-color: var(--lightGrey);
  transition: background-color 0.2s ease-in-out;
}

.eventTitleInput {
  width: 100%;
  border: none;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 2px;
  border-radius: 10px;

  line-height: 20px;
}

.description {
  width: 100%;
  min-height: 68px;
  border: none;
  resize: none;
}

.miniSection {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 5px 0px 30px 0px;
  flex-wrap: wrap;
}

.miniTitle {
  font-size: 18px;
  font-weight: 700;
  display: block;
}

.smallGroup {
  width: 300px;
}

.dateAndTimeDiv {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
}
.inputeDateAndTime {
  border: none;
  border-radius: 8px;
  padding: 5px;
  background-color: var(--special-3);
  transition: background-color, box-shadow 0.2s ease-in-out;
}

.inputeDateAndTime:focus {
  outline: none;
  box-shadow: 0 0 0px 2px var(--night-train-600);
  background-color: var(--special-3);
  transition: background-color, box-shadow 0.2s ease-in-out;
}

.selectMenu {
  height: 36px;
  width: 100px;
  padding: 0px 5px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  color: var(--snowflake-1000);
  background-color: var(--special-3);
  margin-top: 10px;
}

.checkBox {
  accent-color: var(--night-train-600);
}

.displayFlexSpecial {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.locked {
  opacity: 0.2;
  pointer-events: none;
}

.error {
  box-shadow: 0 0 0px 2px var(--anarchy-400);
}
.colorPicker {
  width: 90%;
  height: 6px;
  border-radius: 4px;
  margin-top: 10px;
}
.holder {
  position: relative;
}
.iconPanel {
  position: absolute;
  top: 40px;
  left: 0;
  left: 0;
  z-index: 100;

  overflow: hidden;

  background-color: var(--special-3);
  border-radius: 8px;
}
.iconPanelOpen {
  display: block;
}
.iconPanelHidden {
  display: none;
}

.addEmoji {
  cursor: pointer;
  border-radius: 8px;
  padding: 5px;
  background-color: var(--special-3);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.repeatOnItem {
  display: flex;
  flex-direction: row;
  gap: 7px;
  align-items: center;
  margin-top: 10px;
  flex-wrap: wrap;
}

.repeatDay {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-top: 10px;
  flex-direction: column;

  background-color: var(--special-3);
  border-radius: 8px;
  padding: 5px;
}

.restButton {
  background-color: var(--special-3);
  border: 1px solid var(--snowflake-100);
  border-radius: 8px;
  margin-top: 10px;
}
.repeatDay input {
  accent-color: var(--night-train-600);
}
.info {
  font-size: 11px;
  font-weight: 400;
  color: var(--snowflake-1000);
  margin-top: 10px;
}
@media (max-width: 1199.98px) {
  .addeventPanel {
    width: 75%;
  }
}

@media (max-width: 991.98px) {
  .addeventPanel {
    width: 80%;
  }
  .panelContent {
    padding: 40px;
  }
  .begonAndEndTime {
    flex-direction: column;
    gap: 20px;
    margin: 10px 0px 30px 0px;
  }
}
@media (max-width: 856px) {
  .smallGroup {
    width: 100%;
  }
}
@media (max-width: 767.98px) {
  .addeventPanel {
    width: 85%;
  }
  .panelContent {
    padding: 30px;
  }
}
@media (max-width: 575.98px) {
  .addeventPanel {
    width: 95%;
  }

  .panelContent {
    padding: 10px;
  }
}

@media (max-width: 320px) {
}
