.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;

  padding: 10px 12px;
  width: 100%;
  border-radius: 10px;

  cursor: pointer;

  border: none;
}

.notActive {
  background-color: transparent;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: var(--special-3);
    transition: all 0.2s ease-in-out;
  }
}

.active {
  background-color: var(--special-3);
}

.item svg {
  width: 16px;
  height: 16px;
  aspect-ratio: 1;
  object-fit: contain;
}
.item svg path {
  fill: var(--snowflake-1000);
}

.iteamText {
  font-weight: 700;
  font-size: 16px;
}
.iteamText::first-letter {
  text-transform: uppercase;
}

.IconsOnlyButton {
  background: transparent;
  border-radius: 6px;

  height: 30px;
  min-width: 30px;

  transition: all 0.2s ease-in-out;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: var(--special-3);

    transition: all 0.2s ease-in-out;
  }
}

.TextOnlyButton {
  background: var(--special-3);

  border-radius: 6px;

  font-weight: 700;
  font-size: 14px;

  padding: 0px 6px;
  height: 30px;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: var(--dynamic-black-100);
    transition: all 0.2s ease-in-out;
  }
}
.rightIconButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;

  background-color: var(--night-train-600);
  color: #ffffff;

  border-radius: 10px;
  padding: 10px 14px;

  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: var(--night-train-700);
    transition: background-color 0.2s ease-in-out;
  }
}

.buttonWithShortCut {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;

  border-radius: 10px;
  padding: 6px 8px;
}
.ButtonWithShortCutText {
  font-weight: 700;
  font-size: 18px;
}
.shortcut {
  padding: 2px 4px;
  border-radius: 6px;
  font-weight: 500;
  font-size: 12px;
}

.theme1 {
  background: var(--night-train-600);
  color: #ffffff;
}
.shortcutTheme1 {
  background: var(--night-train-700);
}

.theme2 {
  background-color: var(--special-3);
  color: var(--snowflake-1000);
}
.shortcutTheme2 {
  background: var(--dynamic-black-100);
}

@media (max-width: 1199.98px) {
}
@media (max-width: 991.98px) {
}
@media (max-width: 767.98px) {
}
@media (max-width: 575.98px) {
  .shortcut {
    display: none;
  }
}
@media (max-width: 334px) {
}
