.text {
    display: flex;
    gap: 5px;
}

.folder {
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 10px;
}

.folderText{
    display: flex;
    gap: 5px;
}

.folderText:hover {
    background-color: var(--Special-dark-gray);
    cursor: pointer;
}

.input {
    border: none;
    height: 30px;
    width: 50%;
    background-color: var(--lightGrey);
    border-radius: 12px;
    padding: 0.5rem 0.5rem 0.5rem 0.8rem; // top right bottom left
    font-size: 1rem;
    margin-top: 0.5rem;
    transition: box-shadow 0.2s ease-in-out;

    margin-bottom: 10px;
}

.input:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--primary);
    transition: box-shadow 0.2s ease-in-out;
}

.input::placeholder {
    color: rgb(136, 136, 136);
    opacity: 1;
}

.mainButton {
    width: 120px;
    height: 30px;
    background-color: var(--primary);
    border-radius: 12px;

    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;
    transition: background-color 0.3s ease-in-out;
}

.mainButton:hover {
    cursor: pointer;
    background-color: var(--primary);
    transition: background-color 0.3s ease-in-out;
}

.isCollapsed {
    width: 100%; 
}

.icon {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;   
}

.note {
    display: inline-flex;
    width: 100%;
    align-items: baseline;
    justify-content: space-between;
    padding: 0 10px 10px;
}

.link {
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    vertical-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.link:hover {
    background-color: var(--Special-dark-gray);
}

.dropdownSort{
    background-color: var(--L-white-D-Grey);
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--Special-light-gray);
}

.dropdownstylebutton {
    padding: 5px 15px;
    border-radius: 10px;
}

.dropdownstylebutton:hover {
    background-color: var(--Special-dark-gray);
}

.show {
    display: flex;
    flex-direction: column;
    gap: 10px;    
}

.answer {
    display: none;
}

.answerShow {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 60px;
    margin-bottom: 5px;
}

.accordionNotes {
    display: flex;
    gap: 5px;
    justify-content: space-between;
}

.addAndSortFolder {
    display: flex;
    justify-content: space-between;
}

.addFolder{
    display: none;
}

.addFolderShow {
    display: block;
    position: absolute;
    z-index: 1;
    background-color: var(--Special-light-gray);
    padding: 0.5rem;
    border-radius: 12px;
}

@media (max-width: 575.98px) {
    .input {
        width: 100%;
    }
    .mainButton {
        width: 100%;
    }
    .note {
        padding: 0;
    }
}