.SavedNotes {
  display: block;
  padding: 10px;
  background: var(--special-3);
  float: left;
  height: 100vh; 
  width: 25%;
}

.hideNotesPanel {
  display: none;
}

.TextEditor {
  margin-top: 20px;
  height: calc(100vh - 20px);
  padding: 10px;
  float: left;
  width: 100%;
  background-color: var(--special-5);
  overflow-y: auto;
}

.CollapsedTextEditor {
  width: 75%;
}

.SuperCollapsedTextEditor {
  width: 50%;
  margin-top: 0px;
  height: 100vh;
}

.AI {
  display: none;
}

.showAIPanel {
  float: right;
  background: var(--special-3);
  width: 25%;
  display: block;
  height: 100vh;
}

.AIAssisctance {
  position: absolute;
  z-index: 101;
  right: 10px;
  top: 7px;
}

.openStyle {
  display: block;
  position: absolute;
  z-index: 101;
  left: 10px;
  top: 7px;
}

.openHide {
  display: none;
}

.closeStyle {
  display: none;
}

.closeShow {
  display: block;
  position: absolute;
  z-index: 1;
  top: 7px;
  left: calc(25% - 60px);
}

.buttonWithoutStyle {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.titleNoNotes {
  text-align: center;
}

.toolbar {
  width: 100%;
  display: inline-flex;
  gap: 10px;
  justify-content: space-between;
}

.icon:hover {
  background-color: var(--Special-darker-gray);
  border-radius: 5px;
}

.title {
  display: flex;
  align-items: center;
  gap: 20px;
}

.noteTitle {
  background-color: var(--Special-gray);
  border-radius: 20px;
  padding-left: 10px;
  width: 100%;
}

.noteDescription {
  background-color: var(--Special-gray);
  min-height: 79vh;
  max-height: 100%;
  padding: 5px 20px;
  border-radius: 20px;
}

.createButton {
  width: 100px;
  height: 30px;
  background-color: var(--primary);
  border-radius: 12px;

  color: white;
  margin-bottom: 10px;
}

.content {
  position: relative;
  overflow: auto;
  min-height: 100%;
  z-index: 0;
}

.tasks {
  display: none;
}

.tasksShow {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  background-color: var(--Special-light-gray);
  margin-top: 30px;
  margin-left: -225px;
  padding: 0.5rem;
  border-radius: 10px;
  width: 250px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.task {
  width: 100%;
  padding: 5px;
  border-radius: 10px;
}

.task:hover {
  background-color: var(--Special-dark-gray);
  cursor: pointer;
}

.button {
  background: var(--special-3);
  border: 1px solid var(--snowflake-100);
  border-radius: 6px;
  font-weight: 700;
  font-size: 14px;
  align-items: center;
  padding: 2px 5px;
}

@media (max-width: 575.98px) {
  .showAIPanel {
    position: fixed;
    bottom: 70px;
    width: 100vw;
    height: calc(100vh - 150px);
    border-top: 1px solid var(--Special-darker-gray);
    overflow: auto;
    z-index: 100;
  }

  .SavedNotes {
    padding: 5px;
    position: fixed;
    bottom: 70px;
    width: 100vw;
    height: calc(100vh - 110px);
    border-top: 1px solid var(--Special-darker-gray);
    overflow: auto;
    z-index: 100;
  }

  .SuperCollapsedTextEditor {
    margin-top: 20px;
  }

  .CollapsedTextEditor {
    width: 100%;
  }

  .closeShow {
    left: 10px;
    z-index: 100000;
  }

  .close {
    display: none !important;
  }

  .content {
    min-height: 80%;
  }

  .toolbar {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .noteTitle {
    font-size: 10px !important;
  }

  .noteDescription {
    min-height: 50vh;
  }

  .mainButton {
    margin: 80px 10px;
  }
}
