.title {
  font-size: 20px;
  font-weight: 700;
  border-bottom: 1px solid var(--dynamic-black-200);
  padding: 14px 20px 10px 20px;
  position: sticky;
  top: 0;
  z-index: 4;
  background-color: var(--special-5);
}

.settingsLayout {
  padding: 15px 20px;
}
.settingsLayoutContainer {
}

.closeButton {
  width: 34px;
  height: 34px;
  border-radius: 10px;
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--special-3);
  transition: all 0.2s ease-in-out;
  z-index: 3;

  // &:hover {
  //   background-color: rgb(241 241 241);
  //   transition: all 0.2s ease-in-out;
  // }
}
.closeButton svg path {
  fill: var(--snowflake-1000);
}

@media (max-width: 1199.98px) {
}
@media (max-width: 991.98px) {
}
@media (max-width: 767.98px) {
  .title {
    display: none;
  }
}
@media (max-width: 575.98px) {
}
@media (max-width: 320px) {
}
