//import input
@use "/styles/form/_inputAndLabel.scss";
@use "/styles/form/_mainButton.scss";
@use "/styles/general.module.scss";

.blur {
  filter: blur(5px);
  background: rgba(0, 0, 0, 0.39);
  height: 100%;
  width: 100%;
}

.hidden {
  display: none;
}

.select {
  height: 28px;
  font-size: medium;
}

.formSelect {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  width: 120px;
}

.h1 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: fit-content;
  color: var(--black);
}

.mainButton {
  float: left;
  margin-top: 10px;
  margin-left: 20px;
  width: auto;
  min-width: 45px;
  height: 45px;
  padding: 10px;
  background-color: var(--primary);
  border-radius: 12px;
  border: none;
  color: white;
  font-weight: 900;
  font-size: 19px;
  line-height: 23px;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

.mainButton:hover {
  background-color: #3b5760;
  transition: background-color 0.3s ease-in-out;
}

.createFolderMainButton {
  float: none;
  margin-top: 0;
  width: 40%;
}

.button {
  background: var(--special-3);
  border: 1px solid var(--snowflake-100);
  border-radius: 6px;
  font-weight: 700;
  font-size: 14px;
  margin-top: 15px;
  margin-left: 5px;
  height: 30px;
  align-items: center;
}

.AIButton {
  margin-right: 20px;
  // padding-right: 16px;
}

.openButton {
  margin-left: 240px;
}

.openAIButton {
  // margin-right: 340px;
}

.saveButton {
  margin-right: 20px;
  margin-top: 23px;
  margin-left: 70px;
  width: 100px;
  height: 45px;
  padding: 10px;
  border: none;
  background-color: rgb(8, 139, 8);
  border-radius: 12px;
  cursor: pointer;

  color: white;
  font-weight: 900;
  font-size: 19px;
  line-height: 23px;
  transition: background-color 0.3s ease-in-out;
}

.saveButton:hover {
  background-color: rgb(4, 76, 4);
  transition: background-color 0.3s ease-in-out;
}

.discardButton {
  margin-left: 0px;
  background-color: rgb(181, 9, 9);
}

.discardButton:hover {
  background-color: rgb(96, 6, 6);
  transition: background-color 0.3s ease-in-out;
}

.cancelButton {
  border: none;
  background: none;
  font-size: 2rem;
  float: right;
  margin-right: 15px;
  margin-top: 10px;
  transition: 0.3 ease-in-out;
}

.cancelButton:hover {
  color: var(--primary);
  transition: 0.3s ease-in-out;
}

.comboBox {
  height: 21px;
}

.comboBoxAndH3Container {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 500px) {
  .create {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .createAIPanelOpen {
    display: none;
  }
}

.taskForm {
  position: absolute;
  display: -ms-inline-grid;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 600px;
  background: var(--white);
  border-radius: 40px;
  border-style:dotted;
  transition: transform 0.4s, top 0.4s;
}

.hiddenTaskForm {
  visibility: hidden;
  transform: translate(-50%, -50%) scale(0.1);
  top: -20px;
  transition: transform 0.4s, top 0.4s;
}

.inputContainer {
  display: grid;
  gap: 0;
  margin-top: 5%;
}

.flexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleInputContainer {
  height: auto;
  margin-top: 20px;
  margin-left: 45px;
  margin-bottom: 20px;
}

.label {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 0px;
  font-size: large;
}

.input {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  width: 50%;
  min-width: 250px;
}

.folderInput {
  margin-left: 20px;
  min-width: 150px;
  width: 40%;
  background-color: var(--white);
}

.mainContainer {
  margin-top: 70px;
  margin-bottom: 50px;
}

.tasksContainer {
  margin-top: 50px;
  transition: 10s;
  transition-timing-function: ease-in;
}

.h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  color: var(--black);
  padding-right: 10px;
  margin-bottom: 0;
}

.h3 {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  margin-top: 10px;
  color: var(--black);
}

.hr {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  min-width: 300px;
  width: 90%;
}

.task {
  width: 65%;
  min-width: 300px;
  height: auto;
  min-height: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color: var(--lightGrey);
  border-radius: 9px;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 15px;

  justify-content: space-between;

  transition: 0.8s;
  transition-timing-function: line-height;
}

.taskExtended {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.taskExtension {
  margin-top: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  transition: all 0.5s cubic-bezier(0, 0, 0, 0);
}

.taskCollapsed {
  opacity: 0;
  height: 0px;
  transition: opacity height 0.5s;
  transition-timing-function: ease-in;
}

.taskPart {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.taskChecked {
  opacity: 30%;
  transition: 0.9s;
  transition-timing-function: line-height;
}

.taskCheckBox {
  width: 20px;
  height: 20px;

  border-radius: 2px;
  border: solid;
  border-radius: 50%;
  border-color: var(--black);
  background-color: var(--lightGrey);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  transition: 0.7s;
  transition-timing-function: line-height;
}

.taskCheckBox1 {
  border-color: var(--anarchy-600);
}

.taskCheckBox2 {
  border-color: var(--heat-wave-600);
}

.taskCheckBox3 {
  border-color: var(--blue-sparkle-600);
}

.taskCheckBoxChecked {
  border: none;
  background-color: #0ba16b;
  padding: 0;

  transition: 0.9s;
  transition-timing-function: line-height;
}

.taskCheckBoxChecked svg {
  width: 60%;
}

.taskName {
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
  margin-left: 10px;
  cursor: pointer;
}

.lineWrap {
  position: relative;
  display: inline-block;
}

.line {
  display: inline-block;
  position: absolute;
  left: 8px;
  top: 50%;
  width: 0;
  border-top: 3px solid var(--black);
  transition: width 0.3s ease-in;
}

.lineChecked {
  width: 98%;
}

.taskDate {
  margin-top: 5px;
  margin-right: 5px;
  color: var(--black);
  font-size: x-small;
  text-align: right;
}

.taskExtendedDate {
  margin-right: 17px;
}

.taskDescription {
  width: 85%;
}

.operatorSign {
  color: var(--black);
  font-size: x-large;
  font-weight: bolder;
  text-align: right;
  cursor: pointer;
}

.plus {
  float: right;
  color: var(--black);
  font-size: 25px;
  font-weight: 900;
  text-align: right;
  margin-right: 10px;
  margin-top: 14px;
  cursor: pointer;
}

.panel {
  background: var(--special-3);
  flex-basis: 420px;
  flex-grow: 0;
  flex-shrink: 0;
}

.openFolderPanel {
  margin-left: 0px;
  transition: all 0.2s ease-in-out;
}

.closedFolderPanel {
  margin-left: -420px;
  transition: all 0.2s ease-in-out;
}

.openAIPanel {
  margin-right: 0px;
  transition: all 0.2s ease-in-out;
}

.closedAIPanel {
  margin-right: -420px;
  transition: all 0.2s ease-in-out;
}

.body {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.nav {
  position: absolute;
  display: flex;
  left: 0;
  align-items: center;
  justify-content: flex-start;
}

@media screen and (min-width: 576px) {
  .navMargin {
    margin-left: 50px;
  }
}

.navAI {
  position: absolute;
  display: flex;
  right: 0;
  margin-top: 5px;
  justify-content: flex-start;
}

.main {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}

.foldersContainer {
  margin-top: 70px;
}

.selecterContainer {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  max-width: 525px;
  background-color: var(--lightGrey);
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 3px;
}

.selecterButton {
  display: flex;
  text-align: center;
  font-weight: 700;
  border-radius: 6px;
  background-color: var(--lightGrey);
  margin: 5px;
  transition: background-color 0.3s ease-in-out;
}

.selecterButton:hover {
  background-color: var(--lightGrey1);
  transition: background-color 0.3s ease-in-out;
}

.selecterButtonSelected {
  color: white;
  background-color: var(--primary);
}

.selecterButtonSelected:hover {
  background-color: #305961;
  transition: background-color 0.3s ease-in-out;
}

.whiteSort {
  filter: brightness(0) invert(1);
}

.folderContainer {
  display:flex;
  margin-left: 15px;
}

.folderLabel {
  border-radius: 10px;
  margin-right: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.selectedFolderLabel {
  background-color: var(--lightGrey1)
}

.folderLabel:hover {
  background-color: var(--Special-dark-gray);
}

.folderTaskContainer {
  display: flex;
  margin-left: 70px;
}

.folderTaskLabel {
  display: flex;
  border-radius: 10px;
  padding: 5px;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.folderTaskLabel:hover {
  background-color: var(--Special-dark-gray);
}

.foldersNav {
  display: flex;
  margin-left: 25px;
  align-items: center;
}
